# git action file

# create yaml for git action to run on push to main branch
# run linter, with one of the steps to have my email id in the commit log

name: Lint Code Base  
on:
  workflow_dispatch:
  
jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: 24f3003761@ds.study.iitm.ac.in
        run: echo "Hello, world!"
      
